<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <img src="assets\unnamed.png" class="logo" />
    <h3></h3>

    <div class="title">
        <h2>MyJobPro</h2>
        <p></p>
    </div>

    <div class="ion-margin-top">
      <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="white">SIGN UP</ion-button>
        
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
    </div>
</ion-content>